# =========================================================
# STM32CubeIDE
# =========================================================

**/Debug/
**/Release/

**/.settings/
**/.externalToolBuilders/

*.launch

# Eclipse cache/project metadata
.metadata/

# =========================================================
# Build Outputs
# =========================================================

*.o
*.obj
*.d
*.su
*.map
*.elf
*.bin
*.hex
*.a
*.lib

# =========================================================
# Temporary Files
# =========================================================

*.tmp
*.bak
*.log
*.swp

# =========================================================
# VS Code
# =========================================================

.vscode/

# =========================================================
# Python
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/

# =========================================================
# OS Files
# =========================================================

.DS_Store
Thumbs.db
desktop.ini

# =========================================================
# STM32CubeMX Backup Files
# =========================================================

*.bak
*.old

# =========================================================
# Misc
# =========================================================

*.stackdump